<link rel="stylesheet" href="navbar.css">

<nav id="mainNavbar" class="navbar sticky-top navbar-expand-lg navbar-dark">
    <div class="container-fluid">
        <a href="#" class="navbar-brand">ZORRO Demo</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navLinks" aria-controls="navLinks" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navLinks">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0 ml-5">
                <li class="nav-item">
                    <a href="/" class="nav-link">About</a>
                </li>

                <li class="nav-item">
                    <a href="/visualizations" class="nav-link">Visualizations</a>
                </li>
            </ul>
        </div>
    </div>
</nav>