.content {
    margin-top: 100px;
    margin-bottom: 100px;
}

#headingGroup h1 {
    color: black;
    font-weight: 700;
    font-size: 2.85rem;
}

#headingGroup h2 {
    color: black;
    font-weight: 600;
    font-size: 2.25rem;
}

#headingGroup h3 {
    color: black;
    font-weight: 500;
    font-size: 2rem;
}

#headingGroup h4 {
    color: black;
    font-weight: 400;
    font-size: 2rem;
}

#aboutText p {
    color: black;
    font-weight: 300;
    font-size: 1.5rem;
}

#referenceText p {
    color: black;
    font-weight: 300;
    font-size: 1.25rem;
}

.navbar.scrolled {
    background: white;
    transition: background 500ms;
}

body {
    font-family: 'Open+Sans', sans-serif !important;
}

.math {
    overflow-x: auto;
    overflow-y: auto;
    white-space: nowrap;
}

.prediction-table {
    max-height: 800px !important;
    overflow-x: auto;
    overflow-y: auto;
}

#testSelect {
    display: none;
}

#learningRate {
    display: none;
}

#regularization {
    display: none;
}

.thick-border {
    border-left: 3px solid black !important;
}

.td-highlight {
    color: #00aaff !important;
    font-weight: bold !important;
}

.mf-highlight {
    color: #ffaa00 !important;
    font-weight: bold !important;
}

.color-box { width: 20px; height: 20px; margin-right: 10px; }

.card-header {
    padding-top: 2 !important;
    margin-top: 0 !important;
}