<% layout('layouts/boilerplate') %>

    <div id="headingGroup" class="text-center d-none d-lg-block mt-3">
        <h1>Upload New Testing Dataset</h1>
    </div>

    <% if(success && success.length) { %>
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <%= success %>
        </div>
    <% } %>
    
    <% if(error && error.length) { %>
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <%= error %>
        </div>
    <% } %>

    <div class="row align-items-center mt-3 mb-3">
        <div class="card">
            <div class="card-body">
                <p>Please follow the format described in the documentation below and read the warnings carefully. By clicking "Upload", you agree to all the terms and conditions listed below.</p>
                <div class="row align-items-center mt-3">
                    <form id="custom_test_upload" action="/test-dataset" method="POST" enctype="multipart/form-data">
                        <div class="row align-items-center mt-3">
                            <div class="col-12">
                                <label for="fileSelect" class="form-label">Upload testing features here:</label>
                                <input type="file" id="dataSetTest" name="dataSetTest" class="form-control" accept=".csv, .xlsx, .xls"
                                    max="1000000" required>
                            </div>
                        </div>

                        <div class="row align-items-center mt-3">
                            <div class="col-12">
                                <label for="fileSelect" class="form-label">Upload testing labels here:</label>
                                <input type="file" id="dataLabelTest" name="dataLabelTest" class="form-control" accept=".csv, .xlsx, .xls"
                                    max="1000000" required>
                            </div>
                        </div>

                        <div class="row align-items-center mt-3">
                            <div class="col-10">
                                <label for="testSetName" class="form-label">Name of Training Dataset (required, please strictly match):</label>
                                <input type="text" id="testSetName" name="testSetName" class="form-control" required>
                            </div>
                        </div>

                        <div class="row align-items-center mt-3">
                            <div class="col-10">
                                <label for="testSetNameSelf" class="form-label">Name of Testing Dataset (required, an informative name is recommended):</label>
                                <input type="text" id="testSetNameSelf" name="testSetNameSelf" class="form-control" required>
                            </div>
                            <div class="col-2 d-flex justify-content-center align-items-center">
                                <button type="submit" class="btn btn-primary btn-lg"><strong>+</strong> Upload</button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="content mt-5">
        <div class="text-center" id="headingGroup">
            <h2>Instructions for Uploading a Dataset</h2>
        </div>

        <br>

        <div id="headingGroup">
            <h3>File format requirements:</h3>
        </div>
        <div id="aboutText">
            <p style='margin-top:3.0pt;margin-right:0in;
                    margin-left:1.0in;margin-bottom:.0001pt;text-indent:-.25in;line-height:normal'>Please upload a dataset (.csv or Excel format) with missing entries in one feature; please separate features and labels into two files.</p>
        </div>

        <br>

        <div id="headingGroup">
            <h3>Tips:</h3>
        </div>

        <div id="aboutText">
            <p style='margin-top:3.0pt;margin-right:0in;
            margin-left:1.0in;margin-bottom:.0001pt;text-indent:-.25in;line-height:normal'>1.&nbsp;&nbsp;A smaller dataset will have much faster processing time.</p>
            <p style='margin-top:3.0pt;margin-right:0in;
            margin-left:1.0in;margin-bottom:.0001pt;text-indent:-.25in;line-height:normal'>2.&nbsp;&nbsp;Make sure the dataset name matches the name of uploaded training dataset.</p>
        </div>

        <br>

        <br>

        <div id="headingGroup">
            <h3>Upload limitations and warnings:</h3>
        </div>

        <div id="referenceText">
            <p>Please make sure you have the permission to share the dataset to the public, by clicking "Upload", you agree that we are able to access all data inside the dataset file with ZORRO pipelines and the analytics will be shared to open public.</p>
        </div>
        
    </div>