<% layout('layouts/boilerplate') %>

    <div class="content">
        <div id="headingGroup">
            <h1>ZORRO DEMO</h1>
        </div>

        <br>

        <div id="aboutText">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet provident at aliquam exercitationem facilis, placeat, harum sunt minima, quo dicta doloremque nisi. Incidunt distinctio quibusdam, aspernatur quasi beatae vero quae!</p>
        </div>

        <br>

        <div id="headingGroup">
            <h2>Introduction</h2>
        </div>

        <div id="aboutText">
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eius, neque ipsum placeat dolorum error quam, non deserunt amet esse aperiam cupiditate fugiat ducimus nesciunt quo quis omnis labore aut laborum.</p>
        </div>

        <br>

        <div id="headingGroup">
            <h3>References:</h3>
        </div>

        <div id="referenceText">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi, ipsam, omnis debitis blanditiis harum minima ea, expedita dignissimos aperiam sunt quae fugiat quis vel maiores quisquam maxime? Molestiae, laboriosam aspernatur?
            </p>
        </div>
        
    </div>